* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    height: 60px;
}

.navbar {
    height: 100%;
    width: 90%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    gap: 38%;
}

.navbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style-type: none;
    justify-content: center;
    margin: 20px;
    position: relative;
    left: 50px;
}


.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    color: black;
}

.circle-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-icon,
.user-icon span {
    font-size: 18px;
}

.user-icon span {
    color: white;
}

.user-icon {
    text-decoration: none;
    background-color: #bd50ef;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
}


.search-bar {
    border: 1px solid lightgray;
    width: 680px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-shadow: 0px 0px 6px 0px #9a9a9aa5;
}

.search-bar:hover {
    box-shadow: 0px 0px 6px 0px #727272d4;
}

.search-bar i {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
    cursor: pointer;
}

.search-bar input {
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

.sections {
    margin: 40px 130px 0px;
    max-width: 550px;
}

.sections ul {
    display: flex;
    color: #4d4d4ddf;
}

.sections ul li {
    list-style: none;
    padding: 0px 14px;
    font-size: 14px;
    cursor: pointer;
}

.sections ul li a {
    text-decoration: none;
    color: #4d4d4ddf;
}

.current-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline {
    border: 1px solid black;
    width: 28px;
    margin-top: 8px;
}

.seperate {
    border: 0.01rem solid rgba(128, 128, 128, 0.322);
    width: 100vw;
}

.container {
    max-width: 90vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .image1 img{
    width: 250px;
    border-radius: 6px;
}

.container .image2 img{
    width: 250px;
    border-radius: 6px;
}

.image3 {
    padding-bottom: 10px;
}

.container .image3 img{
    width: 400px;
    border-radius: 6px;
}

.container .image4 img{
    width: 400px;
    border-radius: 6px;
}

.image {
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.image p {
    text-align: center;
    /* border: 1px solid black; */
    padding: 2px 6px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    max-width: fit-content;
    display: flex;
    justify-content: center;
}

.video1 video {
    width: 250px;
    border-radius: 6px;
}

.belowimage {
    margin-top: 16px;
    padding: 10px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.belowimage p {
    text-align: center;
    /* border: 1px solid black; */
    padding: 2px 6px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    max-width: fit-content;
    display: flex;
    justify-content: center;
}

.container .image5 img{
    width: 260px;
    border-radius: 6px;
}

.container .image6 img{
    width: 260px;
    border-radius: 6px;
}

.container .image7 img{
    width: 260px;
    border-radius: 6px;
}

.video2 video {
    width: 260px;
    border-radius: 6px;
}

